<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LA County Geo-CrossWalk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">

  </head>
  <body>
    <!--<nav class="navbar navbar-default">-->
    <!--  <div class="container-fluid">-->
    <!--    <div class="navbar-header">-->
    <!--      <a href="#" class="navbar-brand">ARGO</a>-->
    <!--    </div>-->
    <!--    <ul class="nav navbar-nav navbar-right">-->
          <!-- View on GitHub -->
    <!--      <i class="fa fa-github" aria-hidden="true" href="https://github.com/argo-marketplace/LA-LocalGeo-CrossWalk"></i>-->
    <!--    </ul>-->
    <!--  </div>-->
    <!--</nav>-->

    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Geo-CrossWalk of LA County</h1>
          <p class="lead">A single file that links up all the local geographies in LA County.</p>
          <!-- <a href="https://github.com/argo-marketplace/LA-LocalGeo-CrossWalk" class="btn btn-outline btn-lg" onclick="_gaq.push(['_trackEvent', 'exit', 'header', 'GitHub']);"><span class="fa fa-github"></span> View on GitHub</a> -->
        </div>
      </div>
    </div>

    <div class="container">
      <form action="/results" method="GET"> 
        <div class="input-group mb-3">
          <select class="form-control form-control-sm">
            <option>LA County</option>
            <option>New York City</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Longitude</label>
          <input type="text" name="lonSearch" class="form-control" placeholder="e.g. -118.159953387143">
        </div>
        
        <div class="form-group">
          <label>Latitude</label>
          <input type="text" name="latSearch" class="form-control" placeholder="e.g. 33.8719625444075">
        </div>
        
        <div id="searchbar">
          <button type="submit" class="btn btn-info btn-lg">Search</button>
        </div>
        <hr />
      </form> 
    </div>